<?php
$host = 'localhost';
$user = '{{ mysql.user }}';
$pass = '{{ mysql.password }}';
$db   = '{{ mysql.db_name }}';

$conn = new mysqli($host, $user, $pass, $db);

if ($conn->connect_error) {
    die("Connexion échouée: " . $conn->connect_error);
}
echo "Connexion réussie à la base de données '{{ mysql.db_name }}' !";
$conn->close();
?>
